// Colors

// Primary
$xgb-primary-0: #021F59;
$xgb-primary-1: #3C1CA7;
$xgb-primary: #FF4E81;
$xgb-dark: #505050;
$xgb-danger: #BC0000;
$xgb-dark-1: #838383;
$xgb-dark-2: #E0E0E0;
$xgb-white: #ffffff;
$xgb-disabled: rgba(196, 196, 196, 20%);

// font
$xgb-font-disable: #bdbcbc;
$xgb-font-placeholder: #505050;

// Secondary
$xgb-secondary-900: #dd1616;
$xgb-secondary-800: #e92525;
$xgb-secondary-700: #ec4040;
$xgb-secondary-600: #ef5e5e;
$xgb-secondary-500: #f28080;
$xgb-secondary-400: #f5a2a2;
$xgb-secondary-300: #f9c7c7;
$xgb-secondary-200: #fdefef;
$xgb-secondary-100: #ffffff;

// succecss
$xgb-success-900: #1d8d50;
$xgb-success-800: #1d8d50;
$xgb-success-700: #24ae63;
$xgb-success-600: #28c16e;
$xgb-success-500: #2ed47a;
$xgb-success-400: #43d888;
$xgb-success-300: #5add97;
$xgb-success-200: #74e2a7;
$xgb-success-100: #90e8b9;
$xgb-success-inverted: rgba(144, 232, 185, 0.8);

// danger
$xgb-danger-900: #c20909;
$xgb-danger-800: #d80a0a;
$xgb-danger-700: #f00b0b;
$xgb-danger-600: #f52222;
$xgb-danger-500: #f64040;
$xgb-danger-400: #f75e5e;
$xgb-danger-300: #f97e7e;
$xgb-danger-200: #fba2a2;
$xgb-danger-100: #fdcaca;

// warning

$xgb-warning-900: #d58500;
$xgb-warning-800: #ed9400;
$xgb-warning-700: #ffa208;
$xgb-warning-600: #ffad25;
$xgb-warning-500: #ffb946;
$xgb-warning-400: #ffc566;
$xgb-warning-300: #ffd38a;
$xgb-warning-200: #ffe2b1;
$xgb-warning-100: #fff2dc;

// info
$xgb-info-900: #0a679f;
$xgb-info-800: #0b72b1;
$xgb-info-700: #0c7fc5;
$xgb-info-600: #0d8ddb;
$xgb-info-500: #109cf1;
$xgb-info-400: #28a6f2;
$xgb-info-300: #43b1f4;
$xgb-info-200: #60bdf6;
$xgb-info-100: #80caf8;
$xgb-info-inverted: rgba(128, 202, 248, 0.8);
// neutral
$xgb-neutral-100: #abb0b8;
$xgb-neutral-200: #9a9fa9;
$xgb-neutral-300: #8a909b;
$xgb-neutral-400: #7c828f;
$xgb-neutral-500: #707683;
$xgb-neutral-600: #656a76;
$xgb-neutral-700: #5b5f6a;
$xgb-neutral-800: #52565f;
$xgb-neutral-900: #4a4d55;
$xgb-neutral-inverted: rgba(171, 176, 184, 0.8);
// background
$xgb-background: #fffffa;
$xgb-background-gray: #fafafc;
$xgb-background-disable: #9a9fa9;
$xgb-background-black: #000000;
$xgb-background-white: #ffffff;

// Icon
$xgb-icon: #90a0b7;
