// Border Radius
$border-radius-none: 0px;
$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;
$border-radius-xl: 30px;
$border-radius-pill: 500px;
$border-radius-circular: 100px;

// Border Widths

$border-width-none: 0px;
$border-width-hairline: 1px;
$border-width-thin: 2px;
$border-width-thick: 4px;
$border-width-heave: 8px;

// Opacity Levels

$opacity-level-semiopaque: 0.80;
$opacity-level-intense: 0.64;
$opacity-level-medium: 0.32;
$opacity-level-light: 0.16;
$opacity-level-semitransparent: 0.08;

// Spacing Inset

$spacing-inset-quarck: 4px;
$spacing-inset-nano: 8px;
$spacing-inset-xs: 16px;
$spacing-inset-sm: 24px;
$spacing-inset-md: 32px;
$spacing-inset-md: 40px;

// Spacing Squish

$spacing-squish-quarck: 4px 8px;
$spacing-squish-nano: 8px 16px;
$spacing-squish-xs: 16px 24px;
$spacing-squish-sm: 16px 32px;
$spacing-squish-md: 18px 24px;

// Spacing Inline

$spacing-inline-quarck: 4px;
$spacing-inline-nano: 8px;
$spacing-inline-xxxs: 16px;
$spacing-inline-xxs: 24px;
$spacing-inline-xs: 32px;
$spacing-inline-sm: 40px;
$spacing-inline-md: 48px;
$spacing-inline-xl: 64px;
$spacing-inline-xxl: 80px;

// Spacing Stack

$spacing-stack-quarck: 4px;
$spacing-stack-nano: 8px;
$spacing-stack-xxxs: 16px;
$spacing-stack-xxs: 24px;
$spacing-stack-xs: 32px;
$spacing-stack-sm: 40px;
$spacing-stack-md: 48px;
$spacing-stack-xl: 56px;
$spacing-stack-xxl: 80px;
$spacing-stack-xxxl: 120px;
$spacing-stack-huge: 160px;
$spacing-stack-giant: 200px;