$font-primary: 'Montserrat';

$font-h1-size: 48px;
$font-h1-weight: 900;
$font-h1-line-height: 64px;

$font-h2-size: 32px;
$font-h2-weight: 800;
$font-h2-line-height: 48px;

$font-h3-size: 25px;
$font-h3-weight: 600;
$font-h3-line-height: 120%;

$font-h4-size: 20px;
$font-h4-weight: bold;
$font-h4-line-height: 28px;


$font-h6-size: 18px;
$font-h6-weight: 700;
$font-h6-line-height: 24px;

$font-text-1-size: 16px;
$font-text-1-weight: 400;
$font-text-1-line-height: 22px;

$font-text-2-size: 14px;
$font-text-2-weight: normal;
$font-text-2-line-height: 20px;

$font-button-1-size: 14px;
$font-button-1-weight: bold;
$font-button-1-line-height: 22px;
$font-button-1-letter-spacing: 0.1em;

$font-button-2-size: 16px;
$font-button-2-weight: bold;
$font-button-2-line-height: 22px;
$font-button-2-letter-spacing: 0.01em;

$font-button-3-size: 14px;
$font-button-3-weight: 700;
$font-button-3-line-height: 19px;
$font-button-3-letter-spacing: 0.01em;

$font-label-size: 14px;
$font-label-weight: 600;
$font-label-line-height: 19px;

$font-microcopy-size: 12px;
$font-microcopy-weight: normal;
$font-microcopy-line-height: 16px;
$font-microcopy-letter-spacing: 0.01em;

$regular-small-desktop-size: 12px;
$regular-small-desktop-weight: 400;
$regular-small-desktop-height: 16px;

$regular-paragraph-desktop-size: 16px;
$regular-paragraph-desktop-weight: 400;
$regular-paragraph-desktop-height: 150%;

$semibold-paragraph-desktop-size: 16px;
$semibold-paragraph-desktop-weight: 600;
$semibold-paragraph-desktop-height: 150%;

$xar-h5-size: 20px;
$xar-h5-weight: 400;
$xar-h5-line-height: 130%;
$xar-h5-bold-weight: 700;